upstream subscriptions-service-loadbalancer {
    server ${HOST_API}:3015;
    server ${HOST_API}:3016;
}

server {
    listen       80;
    listen  [::]:80;
    server_name  localhost;

    location / {
        proxy_pass http://subscriptions-service-loadbalancer;
    }
}
